* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h4 {
  font-weight: 300;
}

body {
  font-family: sans-serif;
}

#drum-machine {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

.pads-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 400px;
  flex-wrap: wrap;
  background-color: darkgray;
  margin: 10px;
}

.drum-pad {
  color: white;
  background-color: #444;
  width: 120px;
  height: 100px;
  border: solid 4px lightgray;
  border-radius: 8px;
  text-align: center;
  margin: 4px;
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0,0,0, 0.4);
  outline: none;
  transition: all .3s ease-out;
  cursor: pointer;
}

.drum-pad:active {
  color: orange;
  background-color: #333;
  border: solid 4px orange;
  box-shadow: 0px 4px 4px rgba(201, 130, 0, 0.6); 
  transition: none;
  
}

.screen {
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px;
  background-color: #333;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0,0,0, .2);
}